@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  padding: 20px; /* check */
  display: flex; /* check */
  gap: 20px; /* didn't include */
}

.header { /* check */
display: flex; /* didn't include */
font-size: 22px; /* check */
font-weight: bold; /* check */
/* flex: 10;  nope */
align-items: center;
justify-content: space-between;
margin-bottom: 8px;
}
 /* no
.two {
  display: flex;
  margin-bottom: 10px;
}
.three {
  display: flex;
  margin-top: 10px;
}
*/
.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: none; */
  flex-shrink: 0; /* didn't include */
 /*  margin-right: 20px; nope */
}

.text { /* didn't include */
margin-bottom: 16px; /* didn't include */
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  /* display: flex; nope */ 
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  /* margin-right: 2px; nope */
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}